<!DOCTYPE html>
<html>
<head>
  <title>IntegrationSalesforce</title>
  <%= stylesheet_link_tag       'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '../users/header' %>
<div class="container main">
<%= form_tag({controller: "users", action: "create"}, method: "post") do %>
    <div class="form-group">
    <%= label_tag(:name, "Name", class: "input", id: "name") %><br>
    <%= text_field_tag(:name, nil, class: "form-control",placeholder: "Name" ) %>
    </div>
    <div class="form-group">
    <%= label_tag(:lastname, "Last Name", class: "input", id: "lastname") %><br>
    <%= text_field_tag(:lastname, nil, class: "form-control",placeholder: "Last Name"  ) %>
    </div>
    <div class="form-group">
    <%= label_tag(:email, "E-mail", class: "input", id: "email") %><br>
    <%= text_field_tag(:email, nil, class: "form-control",placeholder: "E-mail"  ) %>
    </div>
    <div class="form-group">
    <%= label_tag(:company, "Company", class: "input", id: "company") %><br>
    <%= text_field_tag(:company, nil, class: "form-control",placeholder: "Company"  ) %>
    </div>
    <div class="form-group">
    <%= label_tag(:jobtitle, "Job Title", class: "input", id: "job_title") %><br>
    <%= text_field_tag(:jobtitle, nil, class: "form-control",placeholder: "Job title"  ) %>
    </div>
    <div class="form-group">
    <%= label_tag(:phone, "Phone", class: "input", id: "phone") %><br>
    <%= text_field_tag(:phone, nil, class: "form-control",placeholder: "Phone"  ) %>
    </div>
    <div class="form-group">
    <%= label_tag(:website, "Website", class: "input", id: "website") %><br>
    <%= text_field_tag(:website, nil, class: "form-control",placeholder: "Website"  ) %>
    </div>
	<%= submit_tag("Confirmar") %>
<% end %>
 </div>



</body>
</html>
