<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control name", placeholder: "Name * " %>
  </div>
  <div class="form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, class: "form-control lastname", placeholder: "Last name * " %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control email", placeholder: "E-mail * "  %>
  </div>
  <div class="form-group">
    <%= f.label :company %><br>
    <%= f.text_field :company, class: "form-control company", placeholder: "Company * "  %>
  </div>
  <div class="form-group">
    <%= f.label :jobtitle %><br>
    <%= f.text_field :jobtitle, class: "form-control jobtitle", placeholder: "Job Title * "  %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control phone", placeholder: "Phone * " %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: "form-control website", placeholder: "Website * " %>
  </div>
  <div class="actions">
    <%= f.submit 'Confirm', :class => "btn btn-default confirm" %>
  </div>
<% end %>
